* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.main-width {
  width: 1200px;
  max-width: 90%;
  margin: 10px auto;
  /* border: 1px solid red; */
  justify-content: space-between;
}
.main-nav ul {
  display: flex;
  background: rgb(101, 240, 101);
  list-style: none;
}
.main-nav ul li {
  /* margin: 0px auto; */
  /* border: 1px solid red; */
  padding: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.main-nav ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgb(179, 174, 174);
  font-size: 20px;
}
.main-nav ul li:hover {
  background: rgb(148, 247, 148);
}
.main-nav ul li:hover a {
  color: white;
}
.sub-nav ul {
  background: rgb(101, 240, 101);
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  display: none;
}
.sub-nav ul li {
  text-align: left;
  padding: 20px 20px;
}
.main-nav ul li:hover .sub-nav ul {
  display: block;
}
